

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #092635;
    padding: 10px 20px;
    color: white;
  }
  
  .left-side {
    display: flex;
    align-items: center;
  }
  
  .logo {
    margin-right: 20px;
  }
  
  .nav-items {
    display: flex;
  }
  
  .nav-items a {
    color: white;
    text-decoration: none;
    margin-right: 15px; 
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 15px;
    transition: background-color 0.3s color 0.3s;
    border-radius: 5px;
  }
  
  .right-side {
    display: flex;
    align-items: center;
  }
  
  .notification {
    margin-right: 20px;
    position: relative;
  }
  .notification-indicator {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #06a7e7; 
    color: white;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 50%;
  }
  
  .user-profile {
    position: relative;
    cursor: pointer;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #092635;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 150px;
    visibility: hidden;
    z-index: 2;
  }
  
  .user-profile:hover .dropdown {
    visibility: visible;
  }
  .dropdown a {
    margin-bottom: 8px; 
    text-decoration: none;
    color: whitesmoke;
  }

 .nav-items a:hover{
    background-color: beige;
    color: #092635;
 }